section#about(data-section='1')
	.section-heading
		h6 Know me
		h1 About.
		span About
	.about-flex
		div
			p &emsp;&emsp;&emsp;Hey there, I'm Srinivas Vegur! Communication Skills Trainer, Professional tutor & experienced Numerologist. After teaching and training 10000+ Students, I have given you all my secrets of the Language Learning Mechanism I have gained in 25 years of my language learning experience and so far. I am on a mission to train 1,00,000 people to skyrocket their career with fluent English. I want you to grow your skills & become successful in your life. Keep Learning..! Keep Growing..!
			div
				h4 Service to others is the rent you pay for your room here on earth.
				h5 There are many things I can offer...
				ul
					li Spoken classes to improve your talkative abilities.
					li Grammer tutorials to play with english as you wish.
					li Numerological sessions for a successful life.
					li Horoscopic astrology to resolve your problems.
					li Worked as a English and Mathematics teacher in a Institute.
					li Owned an Institute from KG sections to SSLC, and working as its Principal.
		div
			img(src='images/about.png')
