footer
	.hor-divider
	.terms
		div
			a(href='/privacypolicy') PrivacyPolicy
		div
			a(href='/termsandconditions') Terms&Conditions
		div
			a(href='/refundpolicy') RefundPolicy
	h5 Address: Near SSCP School, Hiredinni Camp, Tq: Maski, Raichur, Karnataka - 584120
	h5 &copy; 2022 VBS Shri Sai Academy