section#home(data-section='0')
	.overlay
	.brand-text
		.home-heading
			h6 VBS Shri Sai Academy
			h1 VBS Shri Sai Academy.
			span VBS Shri Sai Academy
	.home-div
		.home-img
			img(src='images/srinivas.png' alt='srinivas vegur img')
		.home-text
			h1.typed-head I'm  
				span.typed
			p You can reach out to me if you wanna develop amazing communication skills, to feel fascinating destiny or to join our reputed Institute.
			.home-buttons
				a.home-btn-1(href='#' data-section='5') Contact Me
				a.home-btn-2(href='/spoken') Explore more
