.nav-container
	nav
		input#check(type='checkbox')
		label.menu(for='check')
			.wrapper-menu
				.line-menu.half.start
				.line-menu
				.line-menu.half.end
		label.logo
			img(src='images/logo.png' alt='VBS Academy Logo')
		ul
			li
				a.active(href='#' data-section='0') Home
			li
				a(href='#' data-section='1') About
			li
				a(href='#' data-section='2') Services
			li
				a(href='#' data-section='3') Institute
			li
				a(href='#' data-section='4') Numerology
			li
				a(href='#' data-section='5') Contact
