section#numerology(data-section='4')
	.section-heading
		h6 Know you
		h1 Numerology.
		span Numerology
	.numerology-flex
		div
		//- 	p &emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa eget egestas purus viverra accumsan in nisl nisi. Diam sit amet nisl suscipit adipiscing bibendum est. Imperdiet dui accumsan sit amet. Bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur. Sem nulla pharetra diam sit amet nisl. Interdum varius sit amet mattis. Purus faucibus ornare suspendisse sed nisi lacus sed. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Justo nec ultrices dui sapien eget. Aliquet lectus proin nibh nisl condimentum id. Arcu vitae elementum curabitur vitae. Morbi enim nunc faucibus a pellentesque sit. Sed blandit libero volutpat sed cras ornare arcu. Id semper risus in hendrerit gravida rutrum.
		//- 	p &emsp;&emsp;&emsp;Nibh tortor id aliquet lectus proin nibh. Molestie at elementum eu facilisis sed odio. Dolor morbi non arcu risus quis varius quam quisque. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Enim lobortis scelerisque fermentum dui faucibus. Neque laoreet suspendisse interdum consectetur libero id faucibus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Pretium aenean pharetra magna ac. A condimentum vitae sapien pellentesque habitant. Cras pulvinar mattis nunc sed blandit libero volutpat sed. Ultricies lacus sed turpis tincidunt id aliquet risus. Duis at tellus at urna condimentum mattis pellentesque id nibh. Tristique magna sit amet purus gravida quis blandit turpis. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Est placerat in egestas erat imperdiet. Proin libero nunc consequat interdum. Duis convallis convallis tellus id. Est ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
		div
			img(src='images/numerology.png')
		