section#services(data-section='2')
	.section-heading
		h6 Best Featuers
		h1 Services.
		span Services
	.services-flex
		.service
			i.fas.fa-chalkboard-teacher
			h3 Spoken English Bootcamp
			p This bootcamp is designed for mastering your speaking skills in just 48 days 50% offer to first 100 enrollments. Bookings are getting faster.
			.service-buttons
				a(href='/bootcampPayment') Enroll Now
				a(href='/spoken') Explore More
		.service
			i.fas.fa-book-open
			h3 Navodaya
			p This is a interface designed for Navodaya Students where all videos are available at one place.
			.service-buttons
				a(href='/navodaya') Listen Now
				a(href='').service-contact Contact Me
	.services-flex
		.service
			i.fas.fa-signature
			h3 Numerology 
			p Not alone the combination of numbers but the exposure as well decides the passion. Bring a notable change in your life by correcting your name.
			.service-buttons
				a(href='/numerologyPayment') Change Name
				a(href='/numerology') Read More
		.service
			i.fas.fa-search
			h3 Horoscopy
			p Anyone can be a millionaire, but to become a billionaire you need an astrologer. Reveal about your future by booking a session.
			.service-buttons
				a(href='/horoscopyPayment') Book Now
				a(href='/horoscopy') Know More
		.service
			i.fab.fa-opera
			h3 Others
			p As promised I got more to offer than the given ones. Feel free to explore more.
			.service-buttons
				a(href='/others') Explore More
				a(href='').service-contact  Contact Me