.section-heading{
  margin-top: 120px;
  margin-bottom: 80px;
  position: relative;
  text-align: center;
}

.section-heading h6 {
  color: var(--primary-dark-color);
  font-family: var(--secondary-font);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.section-heading h1 {
  font-family: var(--secondary-font);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow: 0 8px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

.section-heading span {
  color: transparent;
  font-family: var(--secondary-font);
  font-size: 150px;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-text-stroke: 1px rgba(199, 153, 126, 0.685);
  opacity: 0.6;
}

@media (max-width: 575.98px) {
  .section-heading h6 {
      font-size: 15px;
      letter-spacing: 5px;
  }

  .section-heading h1 {
      font-size: 35px;
  }
  .section-heading span{
    font-size: 80px;
  -webkit-text-stroke: 1px rgba(218, 186, 168, 0.685);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .section-heading h6 {
      font-size: 15px;
      letter-spacing: 5px;
  }

  .section-heading h1 {
      font-size: 45px;
  }
}

@media (max-width: 767.98px) {
  .section-heading{
    margin-top: 50px;
    margin-bottom: 30px;
  }
}