<section style="border: 1.5px solid #ced4da; padding: 3px; font-size: 15px;">
	<h5 style="font-size: 10px;  text-align: center">VBS Shri Sai Academy<h5>
			<div align="center">
				<img alt="VBS Shri Sai Academy" src="https://raw.githubusercontent.com/ShriSaiAcademy/Logo/main/logo.png"
					height="80px" />
			</div>
			<br />
			<div style="padding: 5px;">
				<h5>New Contact Form Enquiry</h5>
				<p style="color: #adb5bd;">Name: {$NAME$}</p>
				<p style="color: #adb5bd;">Mobile: {$MOBILE$}</p>
				<p style="color: #adb5bd;">Email: {$EMAIL$}</p>
				<p style="color: #adb5bd;">Message: {$MESSAGE$}</p>
			</div>
			<hr />
			<p style="font-size: 7px;  color: #adb5bd; text-align: center">&copy; 2022 VBS Shri Sai Academy
			<p>
</section>